body {
  background-color: #eee;
}

.App {
  max-width: 90vw;
  margin: auto;
  padding-top: 2vh;
}

.app-header {
  padding-left: 1vw;
}

.todo-list-items {
  padding: 1vw;
  width: 50vw;
  display: inline-block;
}

.todo-list-item {
  padding: 1vw;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1vh;
}

.checked {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.todo-list-form {
  padding: 1%;
  width: 50vw;
  display: inline-block;
}

.form-input {
  padding: 2%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 189);
  width: 40vw;
}

.form-button {
  margin-left: 2%;
  padding: 2%;
  border: none;
  border-radius: 5px;
  background-color: rgb(189, 189, 189);
  width: 6vw;
  float: right;
}

.form-button:hover {
  background-color: rgb(155, 155, 155);
  cursor: pointer;
}

.delete-icon {
  float: right;
  cursor: pointer;
}
